.Landscape {
  position: fixed;
  left: 50%;
  margin-left: -70rem;
  bottom: 0;
  margin-bottom: 0;

  width: 140rem;

  z-index: -2;

}

.Landscape{
  transition: margin-left 0.25s ease-in-out;
}

.tab3{
  margin-left: -60rem;
}