.resume-tile {
  padding: 10px;
  display: inline-block;
}

.tile-background {
  background: rgba(55, 47, 83, 0.25);
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}
.tile-header {
  background: linear-gradient(
    90deg,
    rgba(43, 60, 121, 0.1656) 1.3%,
    rgba(33, 48, 101, 0) 100%
  );
  border-radius: 1rem 1rem 0px 0px;
  width: calc(100% - 2rem);
  padding: 1rem;
}
.tile-title {
  font-size: 1.25em;
}
.tile-content {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.tile-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 300;
}

.skill-set {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0.3rem;
  margin-right: 1rem;
}
.Pill {
  margin: 0.3rem;
}

.skill-name {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: auto;
}

.tile-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tile-points {
  padding-left: 1rem;
}
.tile-points > li {
  margin-bottom: 0.5rem;
}
