.App {
  width: 100vw;
  height: 100vh;
}

.Page {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1.5em;
  color: #f2d8f1;
  font-family: "Roboto", sans-serif;
  overflow: auto;
}

.Content {
  max-width: 80%;
}

html {
  background: linear-gradient(
    180deg,
    rgba(174, 68, 191, 1) 20%,
    rgba(217, 156, 106, 1) 100%
  );
  background-attachment: fixed;
  background-color: #872a9d;
  height: 100%;
}

h4 {
  color: #b0e3a8;
  font-weight: normal;
}
